

body {
  margin: 0 auto;
  text-align: center;
  background-color: #785784;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0 auto;
  background-color: #a7adc1;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Home page styling */

.articles-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.article-card {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color: #B5C2B7;
}

.article-card img {
    height: 200px;
    width: 300px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.article-title {
  font-weight: 600;
  margin-bottom: 5px;
}



/* Individual article styling */

.individual-article {
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  background-color: #B5C2B7;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.article-body {
  max-width: 800px;
}

.article-content img {
  border-radius: 10px;
  height: 250px;
  width: 350px;
}

@media screen and (min-width: 1024px) {
  .article-content img {
    border-radius: 10px;
    height: 500px; 
    width: 700px;
  }
}


.article-votes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 10px;
}

.comments-section {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
  text-align: left;
}

.comments-section ul {
  border-radius: 10px;
  background-color: #e9d3f1;
  list-style-type: none;
  
}

.comments-section li {
  margin: 10px;
}

/* Nav */

nav {
  background-color: #9097af;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.user-img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

