body {
  margin: 0 auto;
  text-align: center;
  background-color: #f0e6f4;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #2a2a2a;
}

h1 {
  margin: 0 auto;
  background-color: #c1d1e0;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Home page styling */

.articles-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.article-card {
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  border-radius: 20px;
  background-color: #d0e1d0;
  border: 1px solid;
}

.article-card-img {
  height: 200px;
  width: 300px;
  border-radius: 20px;
  margin: 5px;
}

.article-card-title {
  font-weight: 600;
  margin: 5px;
}

.article-card-author {
  margin: 5px auto;
}

.article-card-date {
  margin: 5px auto;
}

.article-card-votes {
  margin: 5px auto;
}

.article-card-comments {
  margin: 5px auto;
}

/* Individual article styling */

.individual-article {
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  background-color: #d0e1d0;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

.article-body {
  max-width: 800px;
}

.article-content img {
  border-radius: 10px;
  height: 250px;
  width: 350px;
}

@media screen and (min-width: 1024px) {
  .article-content img {
    border-radius: 10px;
    height: 500px;
    width: 700px;
  }
}

.article-votes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 10px;
}

.article-votes button {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: none;
}

.article-votes button:hover {
  background-color: #c1d1e0;
}

.comments-section {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px auto;
  text-align: left;
}

.comments-section ul {
  border: 1px solid;
  border-radius: 10px;
  background-color: #c1d1e0; 
  list-style-type: none;
}

.comments-section li {
  margin: 10px;
}

.comment-author {
  font-weight: 600;
}

/* Nav */

nav {
  background-color: #c1d1e0;
}

.home-nav {
  font-size: 18px;
  font-weight: 600;
}

/* login */

.login-form {
  width: 90%;
  margin: 20px auto;
  background-color: #c1d1e0; 
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
}

.login-form input {
  font-size: 16px;
  height: 20px;
  margin-top: 5px;
  margin-left: 10px;
}

.login-form button {
  border: none;
  border-radius: 4px;
  padding: 5px 20px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #c1d1e0;
}

/* login error */

.invalid-login {
  background-color: #c1d1e0;
  border: 2px solid #8d4e4e;
  width: 80%;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
}

.invalid-login ul {
  list-style-type: none;
  padding: 0;
}

/* new comment */

.new-comment-container {
  background-color: #c1d1e0; 
  border-radius: 10px;
  border: 1px solid;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 10px auto;
  padding: 20px;
}

.new-comment-container label {
  align-self: flex-start;
}

.new-comment-container textarea {
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  margin: 5px 0px;
  white-space: wrap;
}

.input-button-container {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: flex-start;
}

.new-comment-container button {
  color: black;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.new-comment-container input {
  border-radius: 5px;
  border: 1px solid;
  height: 20px;
}

.new-comment-container button:hover {
  background-color: #89b1d6;
}

.delete-button {
  background-color: #c07171;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  float: right;
}

.delete-button:hover {
  background-color: #f21b1b;
}

/* alert error */

.alert-err {
  background-color: #da5552;
  border-radius: 20px;
  width: 250px;
  margin: 0 auto;
  padding: 10px;
}

.alert-err ul {
  list-style-type: none;
  padding: 0;
}

.alert-err h3 {
  margin: 0;
}

.alert-err button {
  margin: 10px;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 5px 20px;
  cursor: pointer;
  font-size: 16px;
}

.alert-err button:hover {
  background-color: aliceblue;
}

/* filters */

.filters {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 5px;
  margin: 5px;
}

.topics-container select {
  height: 30px;
  width: 100px;
  font-size: 16px;
  border-radius: 5px;
}

.sortby-container select {
  height: 30px;
  width: 100px;
  font-size: 16px;
  border-radius: 5px;
}

.sortby-container button {
  display: inline;
  margin: 2px;
  height: 25px;
}

.sortby-ascending {
  height: 100px;
}