

body {
  margin: 0 auto;
  text-align: center;
  background-color: #8c93a8;
}

/* Home page styling */

.articles-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.article-card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #B5C2B7;
}

.article-card img {
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

